<div fxLayoutAlign="center center" fxFlexFill class="student-register-div">
    <mat-card fxFlex="50">
        <mat-toolbar color="basic">Student Registeration</mat-toolbar>
        <h4 *ngIf="error">{{error}}</h4>
         <form fxLayoutAlign="stretch" fxLayout="column" class="student-register-form" [formGroup]="formGroup" (ngSubmit)="studentRegisterProcess()">
            <mat-form-field>
                <input matInput placeholder="ID" formControlName="_id">
              </mat-form-field>
             <mat-form-field>
               <input matInput placeholder="Email" formControlName="email">
             </mat-form-field>
           
             <mat-form-field>
                 <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
                <button mat-raised-button type="submit" color="basic">Register</button>
           </form>
     </mat-card>
 </div> 