<h1>Speakers List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>City</th>
            <th>Street</th>
            <th>Building</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of speakers">
            <td>{{item._id}}</td>
            <td>{{item.email}}</td>
            <td>{{item.username}}</td>
            <td>{{item.city}}</td>
            <td>{{item.street}}</td>
            <td>{{item.building}}</td>
            <td>
                <a class="btn btn-danger" [routerLink]="['/speakers/delete',item._id]">Delete</a>
                <a class="btn btn-success" [routerLink]="['/speakers/edit',item._id]">Edit</a>
                <a class="btn btn-danger" [routerLink]="['/speakers/details',item._id]">Details</a>
            </td>
        </tr>
    </tbody>
</table>
