<div fxLayoutAlign="center center" fxFlexFill class="login-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="basic">Login Page</mat-toolbar>
        <h4 *ngIf="error">{{error}}</h4>
         <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
             <mat-form-field>
               <input matInput placeholder="Email" formControlName="email">
             </mat-form-field>
           
             <mat-form-field>
                 <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
                <button mat-raised-button type="submit" color="basic">Login</button>
           </form>
     </mat-card>
 </div> 