.speaker-register-div mat-card{
    padding: 0px;
}
.speaker-register-form{
    padding: 25px;
}
mat-toolbar{
    color: white;
    background-color: rgb(4, 4, 54);
}
button{
    background-color: rgb(4, 4, 65);
    color: white;
}