/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: montserrat, arial, verdana; 
    /* background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)) */
    background-image: url('assets/istockphoto-1156315651-612x612.jpg');
}
